$articlesBackgroundColor:                                       #fff;
$articlesShadowColor:                                           rgba(0, 0, 0, .75);
$infoTextColor:                                                 #343433;
$linkColor:                                                     #000;
