$menuBackgroundColor:                                       #fff;
$menuShadowColor:                                           rgba(0, 0, 0, .75);
$menuLinkColor:                                             #5b5b5b;
$searchBackgroundColor:                                     #fafafa;
$searchBorderColor:                                         rgba(205, 205, 205, .38);
$searchPlaceholder:                                         rgba(91, 91, 91, .19);
