$articlesBackgroundColor:                                       #fff;
$articlesShadowColor:                                           rgba(0, 0, 0, .75);
$textColor:                                                     #1f1f1f;
$linkColor:                                                     #000;